:root {
  /* Blue variants */
  --blue-1: #DAF5F0;
  --blue-2: #A7DBD8;
  --blue-3: #87CEEB;
  --blue-4: #69D2E7;
  
  /* Green variants */
  --green-1: #B5D2AD;
  --green-2: #BAFCA2;
  --green-3: #90EE90;
  --green-4: #7FBC8C;
  
  /* Yellow variants */
  --yellow-1: #FDFD96;
  --yellow-2: #FFD858;
  --yellow-3: #F47D38;
  --yellow-4: #E3A018;
  
  /* Orange variants */
  --orange-1: #F6D8B3;
  --orange-2: #FFA07A;
  --orange-3: #FF7A5C;
  --orange-4: #FF6B6B;
  
  /* Pink variants */
  --pink-1: #FCDFFF;
  --pink-2: #FFC0CB;
  --pink-3: #FFB2EF;
  --pink-4: #FF69B4;
  
  /* Purple variants */
  --purple-1: #E3DFF2;
  --purple-2: #C4A1FF;
  --purple-3: #A388EE;
  --purple-4: #9723C9;
}